<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YSES Archiving System</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-6" id="register-container">
                <h1>Register for Account</h1>

            </div>
            <div class="col md-6" id="login-container">
                <h1>Login</h1>
            </div>
        </div>
    </div>
</body>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
</html>
