<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YSArch</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-6" id="register-container"></div>
            <div class="col md-6" id="login-container"></div>
        </div>
    </div>
</body>

<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/jquery-validate.min.js"></script>
<script src="javascripts/jquery-templates.min.js"></script>
<script src="javascripts/index-controller.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
</html>
