<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Login</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Username</label>
            <div class="col-md-4">
                <input id="textinput" name="textinput" type="text" placeholder="username" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Password</label>
            <div class="col-md-4">
                <input id="passwordinput" name="passwordinput" type="password" placeholder="" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Password</label>
            <div class="col-md-4">
                <a href="#" id="login-button" onClick="login()" class="btn btn-primary">Login <span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>

    </fieldset>
</form>
