<form class="form-horizontal" id="login-form">
    <fieldset>
        <!-- Form Name -->
        <legend>Login</legend>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Username</label>
            <div class="col-md-4">
                <input id="username" name="username" type="text" placeholder="username" class="form-control input-md" required="">
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Password</label>
            <div class="col-md-4">
                <input id="passwordinput" name="passwordinput" type="password" placeholder="" class="form-control input-md" required="">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="login-button"></label>
            <div class="col-md-4">
                <a href="#" id="login-button" class="btn btn-primary">Login <span class="glyphicon glyphicon-arrow-right"></span></a>
            </div>
        </div>

    </fieldset>
</form>

<script>
    $('#login-button').click((e) => {
        e.preventDefault();

        const username = $('#username').val();
        const password = $('#passwordinput').val();

        const formData = {
            username,
            password
        };

        if(username == '') {
            return console.log('No username input');
        }

        if(password == '') {
            return console.log('No password input');
        }

        $.post('/login', formData, (res) => {
            console.log(res);
        });
    });
</script>
